# Entorno
NODE_ENV=production

# Base de datos
DB_HOST=blog-db
DB_PORT=5432
DB_USER=postgres
DB_PASSWORD=CHANGE_ME
DB_NAME=blog

# Configuración de conexión
DB_SSL=false
DB_MAX_CONNECTIONS=10

# Otros
API_URL=https://blog-api.diegopertusa.com
